header {
    text-align: center;

    nav {
        margin: 50px auto;

        a {
            color: black;
            text-decoration: none;
            margin: 30px;
            font-size: 1.2rem;
        }
    }
}

main {
    text-align: center;

    ul {
        display: flex;
        justify-content: center;
        gap: 30px;

        li {
            width: 200px;
            height: 200px;
            list-style-type: none;
            border: 1px solid gray;

            p:nth-of-type(1) {
                width: 30ox;
                height: 30px;
                background-color: pink;
            }
        }
    }
}