body {
    background-color: rgb(219, 209, 209);
}

.account {
    width: 400px;
    height: 500px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;

}

.total {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 15px 0;

    p:nth-of-type(2) {
        font-size: 2rem;
    }

    input {}
}

.list {
    margin: 0 auto;


    ul {
        padding: 0;

        li {
            list-style: none;
            display: flex;

            p {
                display: inline;
                margin: 0 10px;
            }
        }
    }
}

.register {
    h2 {}

    input {}

    button {}
}