main {

    h1 {
        text-align: center;
    }

    nav {
        margin: 0 auto;
        display: inline;
        display: flex;
        justify-content: space-evenly;

        a {
            margin: 30px;
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }
    }
}

body {
    margin: 10px 100px;

    #root {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    button {
        width: 100px;
        height: 20px;
        font-size: 3rem;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        li {
            list-style: none;
            text-align: center;
        }
    }
}